@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .link-hover {
    @apply [text-shadow:_0_0_10px_rgba(255_255_255_/_20%),_0_0_20px_rgba(74_222_128_/_40%)];
  }
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}


html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  @apply max-w-5xl ml-auto mr-auto bg-gradient-to-r from-gray-800 to-gray-900 text-white;
}

input, select, textarea {
  color: black;
}

.link {
  @apply hover:text-green-400 transition-all duration-300;
}

.footer {
  position: relative;
  width: 100vw;
  margin: 0 0 0 -50vw;
  left: 50%;
}

.article-main h1 {
}

.article-main .publish-date {
  @apply pb-14;
}
  
.article p {
  @apply text-lg pb-10;
}
